{% extends 'base.html'%}

{% block head %}
<title>股票風向站</title>
{% endblock %}

{% block body %}
<div class="text-bg-primary fs-1 text-center">歡迎來到股票風向站</div>
<div class="container">
    <div class="row justify-content-around text-center">
        <a href="./tellYouPopStock" role="button" class="btn btn-outline-success col-4 p-3 fs-2">老師推薦個股(異常推薦)</a>
        <a href="./stockPrice" role="button" class="btn btn-outline-success col-4 p-3 fs-2">來看股價</a>
        <form class="d-flex col-4 p-3" action="/individualStock" method="get">
            <input class="form-control me-2" name="stockNo" type="search" placeholder="輸入個股代碼(如:0050)" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">查詢個股資料(請靜待20-25秒!)</button>
        </form>
    </div>
</div>
{% endblock %}