{% extends "base.html" %}

{% block head %}
<title>個股查詢</title>
{% endblock %}

{% block body %}
<div class="text-bg-primary p-3 fs-1">
    個股查詢
</div>
<div class="container">
    <h2>K線圖－plotly實作</h2>
    <div id='chart1' class="chart"></div>
    <h2>漲跌價差－plotly實作</h2>
    <div id='chart2' class="chart"></div>
    <h2>成交股數－plotly實作</h2>
    <div id='chart3' class="chart"></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs1 = {{graphJSON1 | safe}};
        Plotly.plot('chart1',graphs1,{});

        var graphs2 = {{graphJSON2 | safe}};
        Plotly.plot('chart2',graphs2,{});

        var graphs3 = {{graphJSON3 | safe}};
        Plotly.plot('chart3',graphs3,{});
    </script>
    
    
    {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
    {% endfor %}
</div>
{% endblock %}